<!DOCTYPE html>
<html>
<head>
  <title>DocGen4</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "home", root_url %> || <%= link_to "Add a person", new_person_url %> || <%= link_to "Create an Invoice", new_invoice_url %><br>
<%= yield %>

</body>
</html>
